*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
.game {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.board {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.box {
  border: 1px solid;
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}
